
<div class="container list feed">

  <!-- user -->
  <div class="row flex just-space-between"
  *ngFor="let friend of matchedFriends"
  routerLink="/friend/{{friend.username}}"
  >
    <div class="flex group">
      <img src="{{friend.imagepath}}" alt="{{friend.username}}">
      <div class="flex vert-center">
        <span class="username">{{friend.username}}</span>
      </div>
    </div>

    <div class="emoji-container flex vert-center">
      <img *ngFor="let filterName of friend.filter" src="../../../assets/images/emojis/{{filterName}}.png" alt="{{filterName}}">
    </div>
  </div>
   <!--  -->
  <p class="empty-list" *ngIf="matchedFriends.length == 0">
    Change your filter to match active friends!
  </p>
</div>

<div class="my-activity flex just-space-between">

  <div class="item" (click)="setFilter('eat')" [ngClass]="{ 'active' : filter.includes('eat') }">
    <app-eat></app-eat>
  </div>

  <div class="item" (click)="setFilter('drink')" [ngClass]="{ 'active' : filter.includes('drink')}">
    <app-drink></app-drink>
  </div>

  <div class="item" (click)="setFilter('coffee')" [ngClass]="{ 'active' : filter.includes('coffee') }">
    <app-coffee></app-coffee>
  </div>

  <div class="item" (click)="setFilter('game')" [ngClass]="{ 'active' : filter.includes('game')}">
    <app-game></app-game>
  </div>

</div>
