<div class="container list add-friends">

  <div class="top-section">
    <a routerLink="/friends" class="bread-crumb">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Friends
    </a>
  </div>

  <div class="section-header">

    <h2 class="title">Add Friends</h2>

    <div class="search-wrapper">
      <span class="icon-wrapper">
        <app-search></app-search>
      </span>
      <span class="input-wrapper">
        <input class="input" type="text" name="searchFriend">
      </span>
    </div>

  </div>

  <!-- user -->
  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/wyatt.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">wyatt</span>
      </div>
    </div>
    <div class="right-wrapper flex vert-center">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
  </div>
  <!-- end -->

  <!-- user -->
  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/anna.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">anna</span>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- user -->
  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/carl.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">carl</span>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- user -->
  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/georgie.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">georgie</span>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- user -->
  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/sebastien.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">sebastien</span>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- user -->
  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/suzanna.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">suzanna</span>
      </div>
    </div>
  </div>
  <!-- end -->
</div>
