<div class="container list add-friends">

  <div class="top-section">
    <a routerLink="/friends" class="bread-crumb">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Friends
    </a>
  </div>

  <div class="section-header">

    <h2 class="title">Add Friends</h2>

    <div class="search-wrapper">
      <span class="icon-wrapper">
        <app-search></app-search>
      </span>
      <span class="input-wrapper">
        <input class="input" type="text" [(ngModel)]="search" name="search">
      </span>
    </div>

  </div>

  <div class="row flex just-space-between" *ngFor="let user of users | filterByUsername:search">
    <div class="flex group">
      <img src="../../../assets/{{user.imagepath}}" alt="">
      <div class="flex vert-center">
        <span class="username">{{user.username}}</span>
      </div>
    </div>
    <div class="right-wrapper flex vert-center">

    <!-- Checks if friend -->
    <div *ngIf="user.friends.includes(currentUser.id);else notFriend">
        <span class="message">friend</span>
    </div>

    <ng-template #notFriend>

      <div *ngIf="user.friendRequests.includes(currentUser.id);else notSent">
        <span class="message">Waiting for response</span>
      </div>

      <ng-template #notSent>
        <div class="sendRequestBtn" (click)="sendRequest(user._id)">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </ng-template>

    </ng-template>



    </div>
  </div>

</div>
