.container.friend {
  .top-section {
    .extended-menu-friend-btn {
      color: $mediumGrey;
      font-size: 18px;
      position: relative;
      top: 0;
      right: 0;
      line-height: 0px;

      @include hover() {
        color: white;
      }
    }
  }
}


  .extended-menu {
    display: none;
    z-index: 4;
    position: absolute;
    top: 47px;
    right: 0;
    width: 200px;
    background: lighten($lightGrey, 3);
    border-radius: 0 0 5px 5px;

     .row {
       padding: 15px;
       border-top: 1px solid white;
       color: $baseColor1;
       .fa {
         margin-right: 10px;
       }
       @include hover(){
         background: lighten($lightGrey, 5);
         color: $baseColorLight;
       }
       &:active {
         background: lighten($lightGrey, 7);
         color: $baseColor1;
       }
     }
  }



.friend {
  padding-bottom: 35px;

  .username {
    text-align: center;
    font-size: 22px;
    color: $baseColor1;
  }
  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
