/* ADD FRIEND  */

.container.add-friends {
  .section-header {
    padding: 10px 15px 30px 10px;
    border-bottom: 1px solid $mediumLightGrey;


    .title {
      text-align: left;
      color: $baseColor1;
      margin: 10px 0 20px 0;
    }
  }

  .right-wrapper {
    padding-right: 10px;
    .message {
      color: $mediumGrey;
      font-size: 12px;
      text-align: right;
    }
    .sendRequestBtn {
      font-size: 20px;
      color: $complementColor;
    }
  }
}
