
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: $lightGrey;
}

/* Link */
a {
  text-decoration: none;
}

.bread-crumb {
  font-size: 12px;
  color: $mediumGrey;
}

// Positioning
.flex {
  display: flex;
}

.just-space-between {
  justify-content: space-between;
}

.vert-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.alert-error {
  font-weight: bold;
  color: $baseColor1;
  text-align: center;
  margin-bottom: -25px;
}

.alert-success {
  font-weight: bold;
  color: $complementColor;
  text-align: center;
  margin-bottom: -25px;
}

.section-title {
  margin: 0;
  padding: 20px 0;
  font-weight: 300;
  background: $baseColorGradient;
  color: white;
  text-align: center;
  &.solid {
    background: $baseColor1;
  }
}


/*
==========
COMPONENTS
==========
*/
.devider {
  border-bottom: 1px solid $lightGrey;
  &.margin {
    margin: 10px 0;
  }
}

/*
FORMS
*/

.input {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: $darkGrey;
  border: none;
  &:focus {
    outline: none;
  }
  &.border {
    border: 1px solid $baseColor1;
  }
}

.search-wrapper {
  .icon-wrapper {
    box-sizing: border-box;
    padding: 10px;
    height: 15px;
    background: $baseColor1;
    border: 1px solid $baseColor1;
    border-radius: 5px 0 0 5px;
    svg {
      position: relative;
      left: 3px;
      top: 1px;
      fill: white;
    }
  }
  .input-wrapper {
    box-sizing: border-box;
    padding: 10px;
    height: 15px;
    border: 1px solid $baseColor1;
    border-radius: 0 5px 5px 0;
    border-left: none;
    margin-left: -4px;
    input {
      padding: 5px;
    }
  }
}

/*
BUTTONS
*/

.button {
  display: block;
  text-align: center;
  padding: 15px 30px;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  margin: 20px auto;
  border: none;
  &:focus {
    outline: none;
  }
  &.primary {
    background: lighten($complementColor, 2);
    box-shadow: inset 0px 0px 20px 0px $complementColor;
    @include transEasOut(700ms);
    @include hover(){
      background: lighten($complementColorLight, 10);
      box-shadow: inset 0px 0px 10px 0px $complementColor;
    }
    &:active {
      background: lighten($complementColorLight, 30);
    }
  }
  &.danger {
    background: lighten($baseColor1, 4);
    box-shadow: inset 0px 0px 20px 0px $baseColorLight;
    @include transEasOut(700ms);
    @include hover(){
      background: $baseColorLight;
      box-shadow: inset 0px 0px 10px 0px $baseColor1;
    }
    &:active {
      background: lighten($baseColorLight, 10);
    }
  }
}


/* SING IN AND SIGN UP FORM */
.landing-form {
  background: white;
  box-shadow: 0px 0px 25px -10px rgba(0,0,0,1);

  .form-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 20px;

    .group {
      margin-top: 20px;
      width: 48%;
      label {
        display: block;
        color: $baseColor1;
        margin-bottom: 5px;
      }
      .input {
          width: 100%;
      }
    }

    .small-text {
      text-align: center;
      color: $mediumGrey;
      margin-top: 30px;
      .link {
        text-decoration: none;
        font-weight: bold;
        color: $baseColor1 !important;
      }
    }

  }
}

/* Logged In */
.container {
  padding-top: 70px;
  background: white;
  box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.7);
  &.feed {
    margin-bottom: 75px;
  }
  &.friends {
    margin-bottom: 44px;
  }
  &.friend {
    margin-bottom: 44px;
  }

  .title {
    margin: 30px 0;
    font-size: 22px;
    color: $mediumGrey;
    text-align: center;
    font-weight: 300;
    &.no-margin-bottom {
      margin-bottom: 0;
    }
  }

  .empty-list {
    font-weight: bold;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: $baseColor1;
  }
  .row {
    padding: 15px;
    border-bottom: 1px solid $mediumLightGrey;
    &:last-of-type {
      border: none;
    }
    .group {
      img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
      }
      .username {
        color: $baseColor1;
        font-size: 18px;
      }
    }
    .emoji-container {
      flex-direction: row;
      img {
        height: 20px;
        margin-left: 15px;
      }
    }
  }
}
.friend-link.row {
  @include hover(){
    background: lighten($lightGrey, 5);
  }
  &:active {
    background: $lightGrey;
  }
}
.my-activity {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 20px 25px;
  box-sizing: border-box;
  .item {
    svg {
      max-width: 40px;
      height: 20px;
      fill: $mediumGrey;
    }
    &.active {
      svg {
        fill: $baseColor1;
      }
    }
  }
}

.requests {
  padding: 0 15px;

  .request {
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightGrey;
    &:first-of-type {
      padding-top: 0;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 150px;
    }

    .username {
      text-align: center;
      font-size: 20px;
      color: $baseColor1;
    }

    .button-wrapper {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: 250px;
      .button {
        margin-top: 0;
        padding: 7px 28px;
      }
    }
  }
}

.friends-panel, .message-panel {
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  background: $baseColor1;
  padding: 10px;

  .search-wrapper {
    .icon-wrapper {
      box-sizing: border-box;
      padding: 5px;
      height: 7px;
      background: white;
      border: 1px solid white;
      border-radius: 5px 0 0 5px;
      svg {
        fill: $baseColor1;
      }
    }
    .input-wrapper {
      box-sizing: border-box;
      padding: 5px;
      height: 7px;
      background: white;
      border: 1px solid white;
      border-radius: 0 5px 5px 0;
      border-left: none;
      background: white;
      margin-left: 2px;
      input {
        padding: 3px;
        @include mediaMaxWidth(350px){
            width: 130px;
          }
      }
    }
  }

  .link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    &:active {
      color: $lightGrey;
    }
  }
}

.top-section {
  background: $lightGrey;
  position: relative;
  padding: 15px;
}

@import "./compAddFriends";
@import './compFriendAndAccount';
