
<div class="container list friend">

    <div class="top-section flex just-space-between">
      <a routerLink="/friends" class="bread-crumb">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Friends
      </a>

      <span class="extended-menu-friend-btn">...</span>

      <div id="extended-menu-friend" class="extended-menu">
        <div class="row" (click)="removeFriend(friend._id)">
          <i class="fa fa-times" aria-hidden="true"></i>
          <span>Remove Friend</span>
        </div>
      </div>
    </div>

    <div class="friend">
      <p class="username">{{friend.username}}</p>
      <img src="../../../assets/{{friend.imagepath}}" alt="{{friend.username}}">

    </div>

<app-chat></app-chat>
