<div class="landing-bg">
  <div class="landing-container">
    <div class="landing-intro-container">
        <h1 class="brand">comrado</h1>
        <p class="tagline">Hang out more with friends</p>
    </div>
    <app-sign-in></app-sign-in>


    <div class="mockup-intro">
      <div class="text-content">
        <h3>With Comrado it's now easier to make fun with your friends</h3>
      </div>
      <img src="../../assets/images/landing/mockup.png" alt="Mockups">
    </div>

  </div>
</div>
<footer>
  <p>This application is created by
    Kenneth Österholm as final project
    in the course Web Development with Javascript
    in Mid Swede University 2018.
  </p>

  <p>
    The application is created in MEAN-stack. <br>
    It's using Web Sockets for real time communicatin and
    image uploads is hosted on Cloudinary.
  </p>

  <p><strong>Connect With Me</strong> <br>
    <a target="_blank" href="https://github.com/kenone">Github – Kenone</a><br>
    <a target="_blank" href="https://www.linkedin.com/in/kenneth-österholm-68a344146?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B8lr0zzC7RGGZ06Gl2N%2FZqw%3D%3D">LinkedIn</a><br>
    hello@osterholms.se
  </p>
</footer>
