
  <div class="landing-intro-container">
    <h1 class="brand">comrado</h1>
    <p class="tagline">Hang out more with friends</p>
  </div>

  <form class="landing-form">
    <h2 class="section-title">Sign in</h2>
    <div class="form-content">
      <div class="flex just-space-between">
        <div class="formgroup">
          <label for="username">Username</label>
          <input id="username" class="input-border" type="text" name="username">
        </div>
        <div class="formgroup">
          <label for="password">password</label>
          <input id="password" class="input-border" type="text" name="password">
        </div>
      </div>
    </div>

  </form>
<div class="landing-bg"></div>
