@import '~sass/variables';
@import '~sass/mixins';

.user {
  padding: 20px;
  padding-bottom: 40px;
}

.form-content {
  padding: 20px 15px;
  width: 100%;
  box-sizing: border-box;

  label {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 97%;
  }


  .button {
    margin-top: 0;
  }

}

.content-wrapper {
  padding: 15px;
}
.drop-zone {
  border: dotted 3px lightgrey;
  margin: 20px 0;

  .drop-text {
    box-sizing: border-box;
    color: lightgrey;
    padding: 20px;
    text-align: center;
  }

}
.nv-file-over {
  border: dotted 3px $complementColor;
  .drop-text {
    color: $complementColor;
  }
}

.loading-container {
  display: flex;
  align-items: center;
}
.spinner-container {
  display: inline;
  width: 50px;
  height: 50px;
}
