
<div class="container account-page">

  <div class="user">
    <p class="username">{{user.username}}</p>
    <img src="{{user.imagepath}}" alt="{{user.username}}">

  </div>

  <h3 class="section-title solid">Change profile picture</h3>
  <div class="content-wrapper">
    <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="drop-zone">
                <p class="drop-text">Drop your new image here</p>
    </div>

    <span>Browse image</span><br>
    <input type="file" ng2FileSelect [uploader]="uploader" />

    <p *ngFor="let item of uploader.queue">
    {{ item?.file?.name }}</p>


    <button type="button" class="button primary uploadButton load" (click)="uploader.uploadAll()" [disabled]="uploader.isUploading">
      <span>Save</span>
      <div class="loader-wrapper" *ngIf="uploader.isUploading">
        <div class="typing_loader"></div>
      </div>

    </button>

  </div>



  <h3 class="section-title solid">Change password</h3>

  <div class="form-content">

      <div id="group2" class="group">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword" class="input border" type="password" name="oldPassword" [(ngModel)]="oldPassword">
      </div>
      <div id="group2" class="group">
        <label for="newPassword"> New Password</label>
        <input id="newPassword" class="input border" type="password" name="newPassword" [(ngModel)]="newPassword">
      </div>

    <button class="button primary" (click)="updatePassword()"><span class="text">Change</span></button>
    <flash-messages></flash-messages>
  </div>

  <h3 class="section-title solid">Remove Account</h3>

  <div class="form-content">

    <button class="button danger" (click)="removeAccount()"><span class="text">Remove Account</span></button>

    <flash-messages></flash-messages>
  </div>

</div>
