@import '~sass/variables';
@import '~sass/mixins';

.user {
  padding: 20px;
  padding-bottom: 40px;
}

.form-content {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;

  label {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 97%;
  }


  .button {
    margin-top: 0;
  }

}

.content-wrapper {
  padding: 15px;
}
.drop-zone {
  border: dotted 3px lightgrey;
  margin: 20px 0;

  .drop-text {
    box-sizing: border-box;
    color: lightgrey;
    padding: 20px;
    text-align: center;
  }

}
.nv-file-over {
  border: dotted 3px $complementColor;
  .drop-text {
    color: $complementColor;
  }
}

.loading-container {
  display: flex;
  align-items: center;
}
.spinner-container {
  display: inline;
  width: 50px;
  height: 50px;
}


.uploadButton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .loader-wrapper {
    margin-left: 30px;
  }
}

.typing_loader{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
       -moz-animation: Typing 1s linear infinite alternate;
       -ms-animation: Typing 1s linear infinite alternate;
            animation: typing 1s linear infinite alternate;
    position: relative;
    left: -12px;
}
@-webkit-keyframes typing{
    0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
                    24px 0px 0px 0px rgba(255,255,255,0.2);
      }
    25%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2),
                    24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
                    24px 0px 0px 0px rgba(255,255,255,1);
      }
}

@-moz-keyframes typing{
   0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
                    24px 0px 0px 0px rgba(255,255,255,0.2);
      }
    25%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2),
                    24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
                    24px 0px 0px 0px rgba(255,255,255,1);
      }
}

@keyframes typing{
   0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
                    24px 0px 0px 0px rgba(255,255,255,0.2);
      }
    25%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2),
                    24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2),
                    24px 0px 0px 0px rgba(255,255,255,1);
      }
}
