.user{
  padding: 20px;
  padding-bottom: 40px;
}

.form-content {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;

  label {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 97%;
  }

  .button {
    margin-top: 0;
  }
}

.content-wrapper {
  padding: 15px;
}
.my-drop-zone {
  border: dotted 3px lightgray;
  height: 50px;

}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
