<nav>
  <div class="flex just-space-between">
    <div clas="brand">C</div>
    <div class="nav-links">

      <a class="links">
        <i class="fa fa-diamond" aria-hidden="true"></i>
        <span class="text">feed</span>
      </a>

      <a class="links">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="text">friends</span>
      </a>

      <a class="links">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="text">account</span>
      </a>
    </div>
  </div>
  <span class="extended">...</span>
</nav>

<app-feed></app-feed>
