@import '~sass/variables';
@import '~sass/mixins';

nav {
  position: relative;
  padding: 20px;
  background: $baseColorGradient;
  color: white;

  .extended {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
      .fa {

      }
      .text {

      }
    }

  }
}
