

<div class="container list friends">
  <div class="requests">
    <h2 class="title">Friend Requests</h2>

    <div class="request">
      <img src="../../../assets/images/profiles/example/sebastien.jpg" alt="">
      <p class="username">sebastien</p>
      <div class="button-wrapper">
        <div class="button primary">Accept</div>
        <div class="button danger">Decline</div>
      </div>
    </div>

    <div class="request">
      <img src="../../../assets/images/profiles/example/anna.jpg" alt="">
      <p class="username">anna</p>
      <div class="button-wrapper">
        <div class="button primary">Accept</div>
        <div class="button danger">Decline</div>
      </div>
    </div>

  </div>

  <!-- user -->
  <div *ngFor="let user of users"  class="row flex just-space-between">
    <div class="flex group" routerLink="/friend/{{user.username}}">
      <img src="../../../assets/{{user.imagepath}}" alt="">
      <div class="flex vert-center">
        <span class="username">{{user.username}}</span>
      </div>
    </div>
  </div>
  <!-- end -->


</div>

<div class="friends-panel">

  <div class="search-wrapper">
    <span class="icon-wrapper">
      <app-search></app-search>
    </span>
    <span class="input-wrapper">
      <input class="input" type="text" name="searchFriend">
    </span>
  </div>
  <div class="flex vert-center">
    <a [routerLink]="['/addfriends']" class="link">Add Friends +</a>
  </div>
</div>
