

<div class="container list friends">
  <div class="requests" *ngIf="currentUser.friendRequests.length !== 0">
    <h2 class="title">Friend Requests</h2>

    <div class="request" *ngFor="let request of requests">
      <img src="../../../assets/{{request.imagepath}}" alt="">
      <p class="username">{{request.username}}</p>
      <div class="button-wrapper">
        <div class="button primary" (click)="acceptRequest(request._id)">Accept</div>
        <div class="button danger" (click)="denyRequest(request._id)">Deny</div>
      </div>
    </div>

  </div>

  <a class="row flex just-space-between friend-link"
    *ngFor="let friend of friends | filterByUsername:search"
    routerLink="/friend/{{friend.username}}">
    <div class="flex group">
      <img src="../../../assets/{{friend.imagepath}}" alt="">
      <div class="flex vert-center">
        <span class="username">{{friend.username}}</span>
      </div>
    </div>
  </a>

  <p class="empty-list" *ngIf="currentUser.friends.length === 0">
    You Have 0 Friends</p>


</div>

<div class="friends-panel">

  <div class="search-wrapper">
    <span class="icon-wrapper">
      <app-search></app-search>
    </span>
    <span class="input-wrapper">
      <input class="input" type="text" [(ngModel)]="search" name="search">
    </span>
  </div>
  <div class="flex vert-center">
    <a [routerLink]="['/addfriends']" class="link">Add Friends +</a>
  </div>
</div>
