<h3 class="section-title solid">Messages</h3>
<!-- user -->

<div class="row">

  <p class="date">2017-12-09</p>

  <div class="flex friend-msg">

      <div class="flex vert-center img-wrapper">
        <img src="../../../assets/images/profiles/example/wyatt.jpg" alt="">
      </div>

      <div class="flex vert-center message-wrapper">
        <p class="message">hallåååÅ vaa? Ska vi bira lite?</p>
      </div>

  </div>
</div>
<!-- end -->

<div class="row">

  <p class="date">2017-12-09</p>

  <div class="flex just-space-between me me-msg">

      <div class="flex vert-center img-wrapper">
        <img src="../../../assets/images/profiles/example/knetos.jpg" alt="">
      </div>

      <div class="flex vert-center message-wrapper">
        <p class="message">Javist kan vi det? Hur var och när ska vi ses? Köpa en balja i en ralja? Kalla kalla kalla.</p>
      </div>

  </div>
</div>



<form class="message-panel">
  <div class="flex vert-center">
    <span class="input-wrapper">
      <input class="input" type="text" name="searchFriend" placeholder="write a message">
    </span>
  </div>

  <div class="flex vert-center">

    <button class="button">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <span> Send</span></button>
  </div>
</form>
