@import '~sass/variables';
@import '~sass/mixins';

.row {
  padding-bottom: 20px;
  img {
    height: 50px;
    width: 50px;
  }
  .date {
    text-align: center;
    font-size: 10px;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
    color: lighten($mediumGrey, 3);
  }
  .message {
    color: $darkGrey;
  }
}

.friend-msg {
  flex-direction: row-reverse;
  .img-wrapper {
      margin-left: 20px;
  }

  .message {
    text-align: right;
  }

}

.me-msg {
  .img-wrapper {
      margin-right: 20px;
  }

  .message {
    text-align: left;
  }

}

.message-panel {
  .input-wrapper {
    position: static;
    height: 30px;
    background: white;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;

    .input {
      font-size: 12px;
      width: 400px;
      padding: 0;
      padding-left: 5px;
      @include mediaMaxWidth(550px) {
        width: 300px;
      }
      @include mediaMaxWidth(450px) {
        width: 200px;
      }
    }
  }

  .button {
    background: white;
    color: $baseColor1;
    font-size: 12px;
    height: 30px;
    padding: 7px 10px;
    margin: 0;
  }
}
