<h3 class="section-title solid">Messages</h3>
<!-- user -->

<div class="row" *ngFor="let message of conversation">

  <p class="sent">
    <span class="sender" *ngIf="message.sender == currentUser.id; else friendIsSender">{{ currentUser.username }} </span><br>

    <ng-template #friendIsSender>
      <span class="sender">{{ friend.username }} </span>
    </ng-template>
    {{message.sent | date: 'EEEE d MMMM H:mm' }}</p>

  <div class="flex" [ngClass]="{'me-msg': message.sender == currentUser.id, 'friend-msg': message.sender == friend._id}">

      <div class="flex vert-center img-wrapper">
        <img src="../../../assets/{{currentUser.imagepath}}" alt="{{currentUser.username}}"
        *ngIf="message.sender == currentUser.id; else friendImage">

        <ng-template #friendImage>
          <img src="../../../assets/{{friend.imagepath}}" alt="{{friend.username}}">
        </ng-template>

      </div>




      <div class="flex vert-center message-wrapper">

        <p class="message">
          {{message.message}}
        </p>
      </div>

  </div>

</div>



<form class="message-panel">
  <div class="flex vert-center">
    <span class="input-wrapper">
      <input class="input" type="text" name="searchFriend" placeholder="write a message" [(ngModel)]="message">
    </span>
  </div>

  <div class="flex vert-center">

    <button class="button" (click)="sendMessage()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <span> Send</span></button>
  </div>
</form>
