<div class="chat-container">

  <h3 class="section-title solid">Messages</h3>
  <!-- user -->

  <div class="row" *ngFor="let message of conversation">

    <p class="sent">
      <span class="sender" *ngIf="message.sender == currentUser.id; else friendIsSender">{{ currentUser.username }} </span><br>

      <ng-template #friendIsSender>
        <span class="sender">{{ friend.username }}</span>
      </ng-template>
      {{message.sent | date: 'EEEE d MMMM H:mm' }}</p>

    <div class="flex" [ngClass]="{'me-msg': message.sender == currentUser.id, 'friendmsg': message.sender == friend._id}">

        <div class="flex vert-center img-wrapper">
          <img src="{{currentUser.imagepath}}" alt="{{currentUser.username}}"
          *ngIf="message.sender == currentUser.id; else friendImage">

          <ng-template #friendImage>
            <img src="{{friend.imagepath}}" alt="{{currentUser.username}}">
          </ng-template>

        </div>

        <div class="flex vert-center message-wrapper">

          <p class="message">
            {{message.message}}
          </p>
        </div>

    </div>

  </div>

</div>

<form class="message-panel">
  <div class="flex vert-center">
    <span class="input-wrapper">
      <textarea class="input" name="message" id="message" [(ngModel)]="message" rows="1" placeholder="write a message"></textarea>
    </span>
  </div>

  <div class="flex vert-center">

    <button class="button" (click)="sendMessage()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <span> Send</span></button>
  </div>
</form>
