
<div class="container list">

  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/user_example.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">Knetos</span>
      </div>

    </div>
    <div class="icon-container">icon</div>
  </div>


</div>

<div class="my-activity flex just-spacebetween">
  <div class="item">
    <i>icon</i>
    <span>eat</span>
  </div>

  <div class="item active">
    <i>icon</i>
    <span>drink</span>
  </div>

  <div class="item">
    <i>icon</i>
    <span>coffe</span>
  </div>

  <div class="item">
    <i>icon</i>
    <span>game</span>
  </div>
</div>
