
<div class="background grey"></div>
<div class="container list">

  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/user_example.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">Knetos</span>
      </div>

    </div>
    <div class="emoji-container flex vert-center">
      <img src="../../../assets/images/emojis/eat.png" alt="">
      <img src="../../../assets/images/emojis/drink.png" alt="">
      <img src="../../../assets/images/emojis/coffee.png" alt="">
      <img src="../../../assets/images/emojis/game.png" alt="">
    </div>
  </div>

  <div class="row flex just-space-between">
    <div class="flex group">
      <img src="../../../assets/images/profiles/example/user_example.jpg" alt="">
      <div class="flex vert-center">
        <span class="username">Knetos</span>
      </div>
    </div>

    <div class="emoji-container flex vert-center">
      <img src="../../../assets/images/emojis/drink.png" alt="">
    </div>
  </div>

</div>

<div class="my-activity flex just-space-between">

  <!-- <div class="flex just-space-between">
    <app-eat></app-eat>
    <app-drink></app-drink>
    <app-coffee></app-coffee>
    <app-game></app-game>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
  </div> -->


  <div class="item">
    <app-eat></app-eat>
  </div>

  <div class="item active">
    <app-drink></app-drink>
  </div>

  <div class="item active">
    <app-game></app-game>
  </div>

  <div class="item">
    <app-coffee></app-coffee>
  </div>

</div>
