

<div class="dashboard-container">
  <nav>
    <div class="flex just-space-between">
      <div class="flex vert-center">
        <span clas="brand">Comrado</span>
      </div>

      <div class="nav-links">

        <a class="link flex vert-center" routerLink="/feed" routerLinkActive="active">
          <i class="fa fa-list-ul" aria-hidden="true"></i>
          <span class="text">feed</span>
        </a>

        <a id="friends-link" class="link flex vert-center" routerLink="/friends" routerLinkActive="active">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span class="text">friends</span>
        </a>

        <img class="user-thumb" src="{{user.imagepath}}" alt="">

      </div>
    </div>
  </nav>
  <div id="extended-account-menu" class="account">
    <img src="{{user.imagepath}}" alt="{{user.username}}">
    <p class="username">{{user.username}}</p>

    <div id="accountLink" class="row" routerLink="/account">
      <i class="fa fa-cogs" aria-hidden="true"></i>
      <span>Account Settings</span>
    </div>
    <div class="row signout" (click)="onSignOutClick()">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <span>Sign out</span>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
